<!DOCTYPE html>
<html>
  <head>
  <title>Balance</title>
  <link rel="stylesheet" href="../static/styles/style.css">

      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
<body>
{% set user=session['user']%}
<div class="banner">
    <div class="navbar">
        <ul>
          {%if user and user.verified %}
          <li><a href="/profile">Profile</a></li>
          <li><a href="/balance">Pregled stanja</a></li>
          <li><a href="/transactions">Transactions</a></li>
          <li><a href="/logout">Logout</a></li>
          {% elif user %}
          <li><a href="/profile">Profile</a></li>
          <li><a href="/verification">Verification</a></li>
          <li><a href="/logout">Logout</a></li>
          {%else%}
          <li><a href="/signup">Sign Up</a></li>
          <li><a href="/login">Login</a></li>
          {%endif%}
        </ul>
      </div>
      <div class="form-change">
        <h1>ZAMENA</h1>
      <form action="/balance" method="GET">
          <label for="change_currency">Zameni valutu:</label><br>
          <select id="change_currency" name="change_currency">
            <option value="bitcoin">BITCOIN</option>
            <option value="dogecoin">DOGECOIN</option>
            <option value="litecoin">LITECOIN</option>
            <option value="ethereum">ETHEREUM</option>
          </select>
          <br><br>
          <label for="change_currency">Unesi iznos:</label><br>
          <input type="text" name="amount" id="amount">
          <br><br>
          <button type="submit">Zameni</button>
        </form>
      </div>
      <br/>
    <div class="content">
        <h1>Stanje na mom racunu: {{user.balance}} $</h1>
    </div>
    <div class="container">
        <div class="coin-price">
            <div class="log">
                <img src="../static/styles/bitcoin-btc-logo.png">
            </div>
            <div>
                <h1>Bitcoin</h1>
                <h1>$<span id="bitcoin"></span></h1>
            </div>
        </div>
        <div class="coin-price">
            <div class="log">
                <img src="../static/styles/litecoin-ltc-logo.png">
            </div>
            <div>
                <h1>Litecoin</h1>
                <h1>$<span id="litecoin"></span></h1>
            </div>
        </div>
        <div class="coin-price">
            <div class="log">
                <img src="../static/styles/dogecoin-doge-logo.png">
            </div>
            <div>
                <h1>Dogecoin</h1>
                <h1>$<span id="dogecoin"></span></h1>
            </div>
        </div>
        <div class="coin-price">
            <div class="log">
                <img src="../static/styles/ethereum-eth-logo.png">
            </div>
            <div>
                <h1>Ethereum</h1>
                <h1>$<span id="ethereum"></span></h1>
            </div>
        </div>
    </div>
</div>

<script src="../static/javascript/live.js"></script>
</body>
</html>