<!DOCTYPE html>
<html>
  <head>
  <title>Login</title>
  <link rel="stylesheet" href="../static/styles/style.css">
  </head>
<body>
{% set user=session['user']%}
<div class="banner">
  <p>{{message}}</p>
  <div class="navbar">
    <ul>
      {%if user and user.verified %}
      <li><a href="/profile">Profile</a></li>
      <li><a href="/balance">Pregled stanja</a></li>
      <li><a href="/transactions">Transactions</a></li>
      <li><a href="/logout">Logout</a></li>
      {% elif user %}
      <li><a href="/profile">Profile</a></li>
      <li><a href="/verification">Verification</a></li>
      <li><a href="/logout">Logout</a></li>
      {%else%}
      <li><a href="/signup">Sign Up</a></li>
      <li><a href="/login">Login</a></li>
      {%endif%}
    </ul>
  </div>
  <div class="form">
    <h1>LOGIN</h1>
    <form method="POST">
      <label for="email">Email Address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        placeholder="Enter email"
        required
      />
    <label for="password">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      placeholder="Enter password"
      required
    />
  <br />
  <button type="submit">Login</button>
</form>
  </div>
    
</div>
</body>
</html>
