<!DOCTYPE html>
<html>
  <head>
  <title>Sign up</title>
  <link rel="stylesheet" href="../static/styles/style.css">
  </head>
<body>
  <!--VALIDACIJE-->
  <script type="text/javascript">
    function proveraReg(forma) {
        if (forma.firstname.value.trim().length === 0) {
            document.getElementById("firstname").focus();
            alert("Field firstname cannot be empty!")
            return false;
        }
        else if (forma.lastname.value.trim().length === 0) {
            document.getElementById("lastname").focus();
            alert("Field lastname cannot be empty!")
            return false;
        }
        else if (forma.address.value.trim().length === 0) {
            document.getElementById("address").focus();
            alert("Field address cannot be empty!")
            return false;
        }
        else if (forma.city.value.trim().length === 0) {
            document.getElementById("city").focus();
            alert("Field city cannot be empty!")
            return false;
        }
        else if (forma.country.value.trim().length === 0) {
            document.getElementById("country").focus();
            alert("Field country cannot be empty!")
            return false;
        }
        else if (forma.phone.value.trim().length === 0) {
            document.getElementById("phone").focus();
            alert("Field phone cannot be empty!")
            return false;
        }
        else if (!isValidPhoneNum(forma.phone.value.trim())){
          document.getElementById("phone").focus();
          alert("Invalid phone number!")
          return false;
        }
    }

  function isValidPhoneNum(str) {
    // validan broj je onaj koji moze poceti sa + pa neki brojevi ali i ne mora +
  return /^(\+?[0-9]+)$/.test(str);
}
</script>

{% set user=session['user']%}
<div class="banner">
  <p>{{message}}</p>
  <div class="navbar">
    <ul>
      {%if user and user.verified %}
      <li><a href="/profile">Profile</a></li>
      <li><a href="/balance">Pregled stanja</a></li>
      <li><a href="/transactions">Transactions</a></li>
      <li><a href="/logout">Logout</a></li>
      {% elif user %}
      <li><a href="/profile">Profile</a></li>
      <li><a href="/verification">Verification</a></li>
      <li><a href="/logout">Logout</a></li>
      {%else%}
      <li><a href="/signup">Sign Up</a></li>
      <li><a href="/login">Login</a></li>
      {%endif%}
    </ul>
  </div>
  <div class="form">
    <h1>SIGN UP</h1>
     <form method="POST" onsubmit="return proveraReg(this)">
            <label for="firstname">First Name</label>
            <input
                type="text"
                class="form-control"
                id="firstname"
                name="firstname"
                placeholder="Enter first name"
                required
              />
              <label for="lastname">Last Name</label>
              <input
                type="text"
                class="form-control"
                id="lastname"
                name="lastname"
                placeholder="Enter last name"
                required
              />
              <label for="address">Address</label>
              <input
                type="text"
                class="form-control"
                id="address"
                name="address"
                placeholder="Enter address"
                required
              />
              <label for="city">City</label>
              <input
                type="text"
                class="form-control"
                id="city"
                name="city"
                placeholder="Enter city"
                required
              />
              <label for="country">Country</label>
              <input
                type="text"
                class="form-control"
                id="country"
                name="country"
                placeholder="Enter country"
                required
              />
              <label for="phone">Phone number</label>
              <input
                type="text"
                class="form-control"
                id="phone"
                name="phone"
                placeholder="Enter phone number"
                required
              />
              <label for="email">Email</label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                placeholder="Enter email"
                required
              />
              <label for="password">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                placeholder="Enter password"
                required
              />
            <br />
            <button type="submit" onclick="return validateForm()">Submit</button>
          </form>
    </div>
</form>
</div>
    
</div>
</body>
</html>