
{% extends "index.html" %}
<title>{% block title %}Transaction to my account{% endblock %}</title>
{% block content %}
{% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
         {{ message }}
      {% endfor %}
   {% endif %}
{% endwith %}
    <form method="POST">
        <h3 align="center">Uplata novca na moj racun</h3>
        <h4 align="center">Moja kartica:</h4>
        <h6 align="center">Card number: {{cardNum}}</h6>
        <h6 align="center">Expiration date: {{expDate}}</h6>
        <div class="form-group">
        <label for="amount">Iznos novca za prebacivanje sa kartice:</label>
        <input
            type="number"
            step="any"
            class="form-control"
            id="amount"
            name="amount"
            placeholder="Enter amount"
        />
        <br />
        <button type="submit" class="btn btn-primary">FINISH</button>
    </form>
{% endblock %}