<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Index</title>
    <link rel="stylesheet" href="../static/styles/style.css">
  </head>
  <body>
    <div class="banner">
      <div class="navbar">
        <ul>
          <li><a href="/toAnotherUser">Transakcija drugom korisniku</a></li>
          <li><a href="/toMyAccount">Uplata na moj racun</a></li>
          <li><a href="/thistory">Istorija transakcija</a></li>
        </ul>
      </div>
    </div>
  </body>   
</html>
