<!DOCTYPE html>
<html>
  <head>
  <title>Verification</title>
  <link rel="stylesheet" href="../static/styles/style.css">
  </head>
<body>
{% set user=session['user']%}
<div class="banner">
  <div class="navbar">
    <ul>
      {%if user and user.verified %}
      <li><a href="/profile">Profile</a></li>
      <li><a href="/balance">Pregled stanja</a></li>
      <li><a href="/transactions">Transactions</a></li>
      <li><a href="/logout">Logout</a></li>
      {% elif user %}
      <li><a href="/profile">Profile</a></li>
      <li><a href="/verification">Verification</a></li>
      <li><a href="/logout">Logout</a></li>
      {%else%}
      <li><a href="/signup">Sign Up</a></li>
      <li><a href="/login">Login</a></li>
      {%endif%}
    </ul>
  </div>
  <div class="form">
    <h1>VERIFICATION</h1>
     <form method="POST">
            <label for="cardnumber">Number</label>
            <input
                type="text"
                class="form-control"
                id="cardnumber"
                name="cardnumber"
                placeholder="Enter number"
                required
              />
                <label for="clientname">Client Name</label>
                <input
                    type="text"
                    class="form-control"
                    id="clientname"
                    name="clientname"
                    placeholder="Enter client name"
                    required
                  />
              <label for="expirydate">Date</label>
              <input
                type="date" min="2022-12-27"
                class="form-control"
                id="expirydate"
                name="expirydate"
                placeholder="Enter date"
                required
              />
              <label for="securitycode">Security Code</label>
              <input
                type="password"
                class="form-control"
                id="securitycode"
                name="securitycode"
                placeholder="Enter security code"
                required
              />
            <br />
            <button type="submit">Submit</button>
          </form>
    </div>
</form>
</body>
</html>